# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /offistarindo/

# Protect application and system files from being viewed
RewriteRule ^(?:_app|_sys|_mod)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]

# Set this in live server to PRODUCTION and DEVELOPMENT in your localhost
SetEnv KOHANA_ENV "DEVELOPMENT"

#AllowOverride FileInfo

AddType audio/mpeg mp3
AddType audio/mp4 m4a
AddType audio/ogg ogg
AddType audio/ogg oga
AddType audio/webm webma
AddType audio/wav wav
 
AddType video/mp4 mp4
AddType video/mp4 m4v
AddType video/ogg ogv
AddType video/webm webm
AddType video/webm webmv